<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="stu" class="com.techm.autowiring.Student" autowire="byName"/>
	
		<bean id="address" class="com.techm.autowiring.Address">

			<property name="cityName" value="Hyderabad" />
		</bean>
</beans>